<header>
	<h1>Welcome to Our Vehicle Fleet Management System</h1>
	<nav>
		<ul>
			<li><a href="/about.html">About Us</a></li>
			<li><a href="/cars">View All Vehicles</a></li>
			<li><a href="/owners">Owner List</a></li>
			<% if (user) { %>
				<li><a href="/auth/logout">Logout (<%= user.email %>)</a></li>
				<% } else { %>
					<li><a href="/auth/login">Login</a></li>
					<li><a href="/users/register">Register</a></li>
					<% } %>
		</ul>
	</nav>
</header>