<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vehicle Fleet Management System</title>
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
</head>

<body>
	<header>
		<h1>Welcome to Our Vehicle Fleet Management System</h1>
		<nav>
			<ul>
				<li><a href="/about.html">About Us</a></li>
				<li><a href="/cars">View All Vehicles</a></li>
				<li><a href="/owners">Owner List</a></li>
				<% if (user) { %>
					<% if (user.role.name==='admin' ) { %>
						<li><a href="/admin">Admin Panel</a></li>
						<% } %>
							<li><a href="/auth/logout">Logout</a></li>
							<% } else { %>
								<li><a href="/auth/login">Login</a></li>
								<li><a href="/auth/register">Register</a></li>
								<% } %>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Manage your vehicle fleet efficiently!</h2>
	</main>
	<footer>
		<p>&copy; 2024 Vehicle Fleet Management System</p>
	</footer>
</body>

</html>