<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>
	<h1>Login</h1>
	<% if (messages && messages.length> 0) { %>
		<ul>
			<% messages.forEach(msg=> { %>
				<li>
					<%= msg %>
				</li>
				<% }) %>
		</ul>
		<% } %>
			<form action="/auth/login" method="POST">
				<label>Email: <input type="email" name="email" value="<%= email || '' %>" required></label>
				<label>Password: <input type="password" name="password" required></label>
				<button type="submit">Login</button>
			</form>
</body>

</html>