<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
	<link rel="stylesheet" href="/stylesheets/auth_styles.css">
</head>

<body>
	<%- include('partials/header') %>

		<main>
			<h1>Login</h1>
			<% if (errors && errors.length> 0) { %>
				<div class="error-messages">
					<% errors.forEach(error=> { %>
						<p>
							<%= error %>
						</p>
						<% }) %>
				</div>
				<% } %>
					<form action="/auth/login" method="POST">
						<label>Email: <input type="email" name="email" required></label>
						<label>Password: <input type="password" name="password" required></label>
						<button type="submit">Login</button>
					</form>
		</main>

		<%- include('partials/footer') %>
</body>

</html>