/* Container for the table */
.table-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* додано для скролінгу на малих екранах */
    padding: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #9ba7b3; /* Blue background for header */
    color: white;
    font-size: 1.2em;
}
/* Actions column */
.car-actions a {
    margin-right: 10px;
}

/* Button container for Add Owner button */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Tooltip styles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    th, td {
        padding: 8px;
    }

    /* Adjust table layout on small screens */
    table {
        font-size: 14px;
    }

    /* Button container */
    .button-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-container a {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    /* For extra small screens */
    .table-container {
        padding: 10px;
    }

    th, td {
        padding: 6px;
    }

    table {
        font-size: 12px;
    }
}
